* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html {
  scroll-behavior:smooth
}


/* ~~~~~~~~~~~~~~~~~~~~~~~  nav  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
  height: 50px;
  width: 100%;
  top:0;
  position: fixed;
  background: #3d3d3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px)/2);
  z-index: 99;
}
nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #dadada;
  padding: 0rem 1.5rem;
}
nav a:hover{
  color:white;
  text-shadow: 2px 2px black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~  main  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr ;
  height:95vh;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  intro  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.intro {
  width: auto;
  height: 100vh;
  background-image: url("img/unsplash1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #111D13;
  padding: 0 2rem;
  align-items: center;
}
.intro p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.5;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.social {
  align-self: center;
}

.social li a img {
  width: 50px;
}
li {
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  about  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background: black;
  display:flex;
  flex-direction: column;
  padding-bottom: 50px;
}
#aboutp {
  align-self: center;
  margin-left: 20px;
  color: #e7e7e7;
  font-size: 1.5rem;
}
#aboutp2 {
  margin-right: 20px;
  text-align: left;
  color: #e7e7e7;
  font-size: 1.5rem;
}
#aboutp3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-size: 1.7rem;
}
.wrapper2-13 {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 1em;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 50px;
}
.wrapper2-21 {
  display: grid;
  grid-template-columns: 3fr 2fr ;
  grid-gap: 1em;
  margin-left: 25vw;
  margin-right: 20vw;
  align-items: baseline;
}
#skillslist {
  margin-bottom: 10px;
}
.starcontainer {
  margin-top: 15px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  Education ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.education {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #d1d1d1;
  display:flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.education img {
  margin-top: 20px;
}
.wrapper2-112 {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr ;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 1em;
  margin-left: 20vw;
  margin-right: 20vw;
}
#edup1 {
  text-align: right;
  margin-right: 20px;
  color: #272727;
  font-size: 1.5rem;
  align-self: center;
}
#edup2 {
  padding-top: 5px;
  text-align: left;
  color: #272727;
  font-size: 1.2rem;
  align-self: center;
}
#edup3 {
  align-self: center;
  color: #272727;
  font-size: 1.2rem;
}
#edup3 li {
  display: block;
  list-style-type: circle;
  list-style-position: outside;
}
#honorsh1 {
  padding-top: 30px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  Projects ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#projheader {
  padding-top: 30px;
}
.projects {
  display: flex;
  flex-direction: column;
}
.wrapper3-111 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15vw;
  margin-right: 15vw;
  justify-content:center;
  align-content: space-around;
}

.wrapper3-111 .box a img{
  width: 400px;
  height: auto;
  vertical-align: bottom;
}

#ch a img:hover{
  opacity: .5;
}

.projectbox {
  width: 400px;
  height: 400px;
  transition: .4s;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  align-content: center;
  background-position: center;
  background-size: cover;

}
.projectbox h1{
  margin-top: -30px;
  opacity: 0;
  transform: scale(0);
  transition: .4s;
  font-size: 2rem;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.projectbox p{
  opacity: 0;
  transform: scale(0);
  transition: .6s;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.projectbox a{
  opacity: 0;
  transform: scale(0);
  transition-duration: .9s;
  padding: 4px 12px;
  margin-top: 10px;
  border: 2px solid white;
  color: #e7e7e7;
  text-decoration: none;
  font-size: 1.3rem;
}
.projectbox:hover{
  box-shadow: 0 0 0 200px rgba(0,0,0,.9) inset;
}
.projectbox:hover  h1{
  opacity: 1;
  transform: scale(1);
}
.projectbox:hover  p{
  opacity: 1;
  transform: scale(1);
}
.projectbox:hover  a{
  opacity: 1;
  transform: scale(1);
}

#projol1 {
  align-self: center;
  color: #272727;
  font-size: 1.2rem;
}
#projol1 li {
  display: block;
  list-style-type: circle;
  list-style-position: outside;
}


#chproj {
  background-image: url(img/chlogo.jpg);
}
#sb9 {
  background-image: url(img/sb9.jpg);
}
#agendaid {
  background-image: url(img/agendaid.jpg);
}
#snake {
  background-image: url(img/snake.png);
}
#site {
  background-image: url(img/dssite.PNG);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~  Experience ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~  contact  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~  headers  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h1  {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
  padding-top: 20px;
}
#myname {
  text-align: center;
  margin-top: -40vh;
  font-size: 6rem;
}
#aboutheader{
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}
#eduheader {
  color: black;
}
#expheader {
  color: black;
}
#projheader {
  color: black;
}
#contactheader{
  color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~  subheaders  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
strong {
  display: block;
  font-size: 50%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  button  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#cvbutton {
  padding: .8rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  color:black;
  background: white ;
  cursor: pointer;
  border-radius: 50px;
}
#cvbutton:hover {
  
  background: #0c2f46 ;
  color:#e7e7e7;
  transition: all .3s ease;
}
a {
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -20px;

}
.dropdown-content {
  margin-top: 14.5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}
.dropdown-content a {
  color: #3d3d3d;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: black;
  text-shadow:  .5px .5px .5px grey;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~  imgs  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main-image {
  max-width: 15vw;
  min-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px solid white;
}
.circ-image {
  margin-left: 5px;
  max-width: 2vw;
  min-width: 20px;
  height: auto;
  opacity: .8;
  filter: invert(1);
}
.circempty-image {
  margin-left: 5px;
  max-width: 2vw;
  min-width: 20px;
  height: auto;
  opacity: .5;
  filter: invert(1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~  page resize  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width:1300px) {
  .wrapper3-111 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media screen and (max-width:1100px) {
  .wrapper2-21 {
    grid-template-columns: 1fr 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .wrapper2-112 {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .wrapper3-111 {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}
@media screen and (max-width:850px) {
  .wrapper2-13 {
    grid-template-columns: 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .wrapper2-21 {
    grid-template-columns: 1fr;
    
  }
  .wrapper2-112 {
    grid-template-columns: 1fr;
  }
  .main-image {
    justify-self: center;
  }
  img {
    justify-self: center
  }
  #myname {
    text-align: center;
    margin-top: -55vh;
    font-size: 4rem;
  }
  .nav li {
    margin-left: 20px;
    margin-right: 20px;
  }
  nav a {
    padding: 0rem .8rem;
  }
  #edup1 {
    text-align: left;
  }
}


@media screen and (max-height:960px) {
  #myname {
    text-align: center;
    margin-top: -55vh;
    font-size: 4rem;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~  MODALS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 
  EDITED FROM
  CSS Animation of opening modal
  Stas Melnikov
*/
.popup:not(:target){
  display: none;
}
.popup:target{
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;  
}
.popup::before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9f9;
  position: fixed;
  left: 0;
  top: 50%;
}
.popup::after{
  content: "";
  width: 0;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.popup__container{
  box-sizing: border-box;  
  padding: 5% 15%;
  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}
.popup__title{
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
}
.popup__close{
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
}
/*
animation
*/
.popup::before{
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}
.popup::after{
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}
@keyframes line-animation{
  0%{
    width: 0;
    opacity: 1;
  }
  99%{
    width: 100%;
    opacity: 1;
  }
  100%{
    width: 100%;
    opacity: 0;
  }  
}
@keyframes open-animation{
  0%{
    height: 0;
    top: 50%;
  }
  100%{
    height: 100vh;
    top: 0;
  }
}
.popup__container{
  animation: fade .5s ease-out 1.3s both;
}
@keyframes fade{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
